// .navbar__container {
//   // border: solid red;
//   background: white;
//   padding: 10px 10px;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   @media (max-width: 1148px) {
//     grid-template-columns: 1fr 2fr 1fr;
//   }
//   @media (max-width: 598px) {
//     display: grid;
//     grid-template-columns: 1fr 3fr;
//   }
// }

// .navbar__left {
//   // border: solid blue;
//   display: flex;
//   align-items: center;
//   // @include for-phone-only;
//   @media (max-width: 598px) {
//     display: none;
//   }
// }

// .navbar__search-box {
//   background-color: $search-bg;
//   display: flex;
//   align-items: center;
//   width: 240px;
//   height: 40px;
//   border-radius: 20px;
//   color: #696b6f;
//   font-size: 1.1rem;
//   padding: 0 10px;
//   @media (max-width: 1148px) {
//     width: 40px;
//   }
// }

// .navbar__search {
//   background: none;
//   border: none;
//   padding-left: 10px;
//   outline-style: none;
//   width: 100%;
// }

// .navbar__center {
//   //border: solid rgb(253, 93, 93);
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }

// .navbar__right {
//   border: solid rgba(18, 108, 182, 0.527);
// }

// .logo {
//   height: 40px;
//   padding-right: 10px;
//   margin: 0;
// }

// .fa-home {
//   color: red;
//   font-size: 2rem;
// }

// .navbar__home {
//   border: solid rebeccapurple;
//   padding: 0 50px;
// }

// .navbar__icons {
//   // border: solid rebeccapurple;
//   width: 100px;
//   text-align: center;
// }
// .navbar__icons.active {
//   border-bottom: solid blue;
//   // padding-bottom: 20px;
// }

.logo {
  height: 40px;
}
.searchBox {
  background: #f0f2f5;
  display: flex;
  width: 50%;
  align-items: center;
  border-radius: 20px;
  margin-left: 10px;
  @media (max-width: 1448px) {
    width: 40px;
    height: 40px;
  }
}
.searchBox .fa-search {
  padding-left: 12px;
  padding-right: 10px;
  color: gray;
}
.searchBox input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 1rem;
}

.centerIcons .fas {
  // font-size: 1rem;
  color: $icons-gray;
  // margin: 0 40px;
}

.centerIcons {
  // display: grid;
  display: flex;
  justify-content: space-evenly;
  // grid-template-columns: repeat(5, 1fr);
  // justify-content: space-evenly;

  align-items: center;
  height: 100%;
  // border: solid red;
}

.center {
  // border: solid rgb(132, 201, 6);
  padding: 0 70px;
  @media (max-width: 700px) {
    display: none;
  }
}
.right {
  // border: solid blue;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 400px) {
    // border: solid rgb(218, 214, 31);
    display: flex;
    justify-content: flex-end;
  }
}

.avatar__container {
  display: flex;
  align-items: center;
  position: relative;
  // border: solid rgb(29, 83, 4);
  p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.avatar__wraper {
  display: flex;
  align-items: center;
  //border: solid rgb(29, 83, 4);
  // position: absolute;
  // left: -0px;
  // top: -5;

  height: 100%;
  // width: 150px;
  padding: 4px 0 4px 5px;

  @media (max-width: 1190px) {
    display: none;
  }
  &:hover {
    background: #f1f2f3;
    border-radius: 30px;
  }
}
.home-icon {
  padding: 1rem 2rem;
  // border: solid red;
}

// Test **************************//*****************

.navbar {
  background: white;
  // border: solid #777777;
  height: 60px;
  display: flex;
}

.leftbox {
  // border: solid #1005b3;
  height: 100%;
  flex: 1;
  display: flex;
  @media (max-width: 700px) {
    // width: 100px;
    flex: 1;
  }
}
.centerbox {
  // border: solid #3eff03;
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 700px) {
    display: none;
  }
  @media (max-width: 700px) {
    display: none;
  }
}
.rightbox {
  // border: solid #c76e07;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 700px) {
    flex: 2;
  }
}

.inner-left-Box {
  display: flex;
  align-items: center;
  padding: 0 10px;
  .logo-img {
    height: 40px;
    width: 40px;
  }
  .nav-searchBox {
    background-color: $search-bg;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
    input {
      background: none;
      border: none;
      outline: none;
      color: $icons-gray;
      width: 200px;
      animation: ease-in-out;
      @media (max-width: 1285px) {
        display: none;
        animation-delay: 1s;

        animation: ease-in-out;
      }
    }
    i {
      color: $icons-gray;
    }
  }
  .fa-search {
    padding-right: 5px;
  }
}

.nav-home-icon {
  // border: solid red;
  // width: 100px;

  display: flex;
  justify-content: center;
  align-items: 'center';
  width: 13%;
  padding: 15px 0;
  position: relative;
  &:hover {
    // border-bottom: solid blue;
    background: $search-bg;
    border-radius: 10px;
    width: 13%;
  }
}

.centerbox .fas {
  color: $icons-gray;
  font-size: 1.3rem;
}

.ring {
  border-radius: 50%;
  position: relative;
  border: 2px solid $icons-gray;
  padding: 0.8px;
}

.nav-home-icon > .fa-users {
  &:hover {
    background: red;
  }
}

.ring .MuiBadge-badge {
  position: absolute;
  bottom: -5px;
  right: -10px;
}

.avatarWrapper {
  height: 45px;
  // width: 130px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  &:hover {
    background-color: $search-bg;
    border-radius: 25px 25px;
    padding-left: 4px;
  }
  @media (max-width: 1260px) {
    display: none;
  }
  p {
    padding: 0 5px;

    text-align: center;
  }
}

.rightbox {
  display: flex;
  align-items: center;
}

.right-nav-icons {
  display: flex;
  // background-color: red;
  padding-right: 10px;
}

.right_nav_icons {
  // border: solid red;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  // padding: 0 px;
}
.nav_icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $icons-wrapper-bg;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  // border: solid rgb(7, 206, 146);
  margin: 0 0.5rem;
  color: $right-nav-icons;
  position: relative;

  .fa-sort-down {
    font-size: 1.5rem;
    position: absolute;
    top: 6px;
  }
  .alertCircle {
    position: absolute;
    background-color: #f02849;
    height: 14px;
    width: 14px;

    top: 0;
    right: 0;
    border: 2px solid white;
    border-radius: 50%;
  }
}

.nav-icon-hover {
  // border: solid red;
  padding: 1rem 2rem;
  &:hover {
    padding: 1rem 2rem;

    border-radius: 10px;
    background: $search-bg;
  }
}
